.export-vote-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}


.title {
    margin-bottom: 20px;
}

.players-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.player-group {
    display: flex;
    margin-bottom: 20px; /* Espacement entre les groupes de joueurs */
}

label {
    margin-right: 20px; /* Espacement entre les cases à cocher et les textes */
}

button {
    margin-top: 20px;
}
