.rain-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.rain-image {
  position: absolute;
  opacity: 0;
  animation: fall linear infinite, fadeIn 0.5s; /* Ajout de l'animation de fade-in avec une durée de 0.5s */
}

@keyframes fall {
  from {
    transform: translateY(-50px); 
    opacity: 0; 
  }
  to {
    transform: translateY(calc(100vh + 50px)); 
    opacity: 1; 
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  position: relative;
}

.loader {
  width: 50vw;
  height: 50vw; 
  max-width: 250px; 
  max-height: 250px; 
  background-image: url('/src/img/Title.png');
  background-size: contain; 
  background-repeat: no-repeat; 
  border-radius: 0%; 
  position: relative;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

@keyframes ellipsis {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}

.dots::after {
  content: "";
  animation: ellipsis 2s infinite;
  position: absolute;
}

html, body {
  overflow: hidden;
}
